<md-sidenav-layout>
    <md-sidenav #sidenav>
        <div id="user-profile">
            <img [attr.src]="profile_picture">
            <p>{{name}}</p>
            <p>{{id}}</p>
        </div>

        <md-nav-list (click)="sidenav.close()">

            <a md-list-item (click)="logout()">
                <span md-line>Logout</span>
            </a>

        </md-nav-list>
    </md-sidenav>

    <md-toolbar color="primary">
        <button md-icon-button (click)="sidenav.open()">
            <md-icon>menu</md-icon>
        </button>
        Koa Angular Starter
    </md-toolbar>

    <div class="content">
        <h1>{{title}}</h1>
        <router-outlet></router-outlet>
    </div>

</md-sidenav-layout>
