<div class="content">

    <md-card elevation="5">

      <md-card-subtitle>
        <h2>Koa Angular Starter</h2>
      </md-card-subtitle>

      <md-card-title>
        <h2>{{title}}</h2>
      </md-card-title>

      <md-card-content>
        <h2>Create an account</h2>

        <form *ngIf="!submitted" [formGroup]="form" (ngSubmit)="onSubmit()" #registerForm="ngForm">
          <md-input formControlName="name" required placeholder="Name"></md-input><br>
          <md-input formControlName="username" required placeholder="Username"></md-input><br>
          <md-input formControlName="email" required placeholder="example@email.com"></md-input><br>
          <md-input formControlName="password" required type="password" placeholder="Password"></md-input><br>
          <md-input formControlName="confirmpassword" required type="password" placeholder="Confirm Password"></md-input><br>
          <div class="error" *ngIf="formErrors.name">{{ formErrors.name }}</div>
          <div class="error" *ngIf="formErrors.username">{{ formErrors.username }}</div>
          <div class="error" *ngIf="formErrors.email">{{ formErrors.email }}</div>
          <div class="error" *ngIf="formErrors.password">{{ formErrors.password }}</div>
          <div class="error" *ngIf="formErrors.confirmpassword">{{ formErrors.confirmpassword }}</div>
          <div class="error" *ngIf="form.hasError('mismatchedPasswords')">Passwords do not match.</div><br>
          <button type="submit" [disabled]="!registerForm.form.valid" md-raised-button color="primary">Register</button>
        </form>

        <md-spinner *ngIf="submitted" mode="indeterminate"></md-spinner>

        <p class="error" *ngIf="error">{{error}}</p>

        <br>
        <hr>

        <button (click)="login()" md-raised-button color="accent">Login</button>

      </md-card-content>

    </md-card>

</div>
